/* VenditaStyle.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 125px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
  
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.content {
    margin-bottom: 30px;
}

.user-details {
    margin-bottom: 30px;
}

.input-box {
    margin-bottom: 20px;
}

.input-box span.details {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-box input[type="text"],
.input-box input[type="number"],
.input-box textarea,
.input-box select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.button {
    text-align: center;
}

.button input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button input[type="submit"]:hover {
    background-color: #0056b3;
}
    